// .menu {
//   background-color: white;
//   height: 50px;
//   left: 0;
//   opacity: .7;
//   position: fixed;
//   right: 0;
//   top: 0;
//   z-index: 200;
//
//   + .bar {
//     margin-top: 50px; // space for menu
//   }
// }

.bar {
  background-color: $color-green;
  color: $color-background;
  overflow: hidden;
  position: relative;
  width: 100%;

  &--green {
    background-color: $color-green;
  }

  &--red {
    background-color: $color-green-logo;
  }

  &--blue {
    background-color: $color-green-logo;
  }

  &__img--left {
    left: 0;
    opacity: .5;
    position: absolute;
    top: -50px;
  }

  &__img--right {
    height: 130%;
    opacity: .8;
    position: absolute;
    right: 0;
    top: -120px;
  }

  &__title {
    font-size: 60px;
    padding: 60px 0 40px;
    position: relative;
    text-align: center;
    z-index: 100;
  }

  &__subtitle {
    font-style: italic;
    padding: 0 0 40px;
  }

  &__infos {
    padding: 0 0 40px;

    @include phone {
      display: flex;
      justify-content: center;
    }

    &__group {
      @mixin content-group {
        display: flex;
        justify-content: center;
      }

      @include desktop {
        @include content-group;
      }

      @include tablet {
        @include content-group;
      }
    }

    &__info {
      padding: 0 10px;

      @include phone {
        &:not(:first-child) {
          padding-top: 5px;
        }
      }
    }
  }

  &__next {
    display: flex;
    justify-content: center;
    padding: 0 0 20px;
    position: relative;
    z-index: 100;
  }
}

.button--next {
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%;
  height: 50px;
  transition: all $time-hover linear;
  width: 50px;

  &:hover {
    background-color: transparent;
    box-shadow: 0 0 5px 1px $color-background;
  }
}
