.footers {
  border-top: 1px solid $color-border-hover;
  color: $color-grey-logo;

  &__inner {
    display: flex;
    font-style: italic;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px 0;

    img {
      max-height: 50px;
    }
  }
}
