.gallery {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
  }

  &__thumbnail {
    height: 75px;
    margin: 1px;

    > img {
      height: 100%;
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}

.gallerymodal {
  align-items: center;
  background-color: rgba($color-black, .8);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  @mixin gallerybutton {
    background-color: transparent;
    color: $color-button-gallery;
    position: fixed;
  }

  &__close {
    @include gallerybutton;
    right: 0;
    top: 0;
    z-index: 302;

    &:hover {
      background-color: $color-background-button-gallery-hover;
    }
  }

  @mixin gallerynav {
    height: 100%;
    position: fixed;
    width: 50%;
    z-index: 300;
  }

  @mixin gallerynavbutton {
    @include gallerybutton;
    height: 100%;
    max-width: 50%;
    width: 200px;
    z-index: 301;

    &:hover {
      background-color: transparent;
    }
  }

  &__next {
    @include gallerynav;
    right: 0;

    &__button {
      @include gallerynavbutton;
      right: 0;
      text-align: right;
    }
  }

  &__prev {
    @include gallerynav;
    left: 0;

    &__button {
      @include gallerynavbutton;
      left: 0;
      text-align: left;
    }
  }

  &__img {
    box-shadow: 0 0 100px 1px $color-black;
    max-height: 100%;
    max-width: 100%;
  }
}
