.gallery {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
  }

  &__thumbnail {
    height: 75px;
    margin: 1px;

    > img {
      height: 100%;
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}
