.noscroll {
  overflow: hidden;
}

body {
  background-color: $color-background;
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  background-color: $color-button;
  border: 0;
  border-radius: 0;
  outline: none;
  padding: 20px;
  transition: background-color $time-hover linear;

  &:hover {
    background-color: $color-button-hover;
  }
}

table {
  tr {
    border-left: $style-border;
    border-top: $style-border;

    th {
      border-bottom: $style-border;
      border-right: $style-border;
      font-weight: bold;
      padding: 10px;
      text-align: left;
    }

    td {
      border-bottom: $style-border;
      border-right: $style-border;
      padding: 10px;
    }
  }
}

h1 {
  font-size: 25px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;

  > li {
    &:not(:first-child) {
      margin-top: 5px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.li {
  align-items: center;
  display: flex;

  &__bullet {
    background-color: $color-black;
    border-radius: 2px;
    height: 4px;
    margin-right: 5px;
    width: 4px;
  }
}

.splitview {
  display: flex;
}

.splitview__right {
  margin-left: 10px;

  > *:first-child {
    margin-top: 0;
  }
}

.text-center {
  text-align: center;
}

a {
  color: $color-black;
}
