.noscroll {
  overflow: hidden;
}

body {
  background-color: $color-background;
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: $color-button;
  border: 0;
  border-radius: 0;
  padding: 15px;
  transition: background-color $time-hover linear;

  &:hover {
    background-color: $color-button-hover;
  }
}

table {
  tr {
    border-left: $style-border;
    border-top: $style-border;

    &:first-child {
      font-weight: bold;
    }

    td {
      border-bottom: $style-border;
      border-right: $style-border;
      padding: 10px;
    }
  }
}
