.noscroll {
  overflow: hidden;
}

body {
  background-color: $color-background;
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: $color-button;
  border: 0;
  border-radius: 0;
  padding: 20px;
  transition: background-color $time-hover linear;

  &:hover {
    background-color: $color-button-hover;
  }
}

table {
  tr {
    border-left: $style-border;
    border-top: $style-border;

    &:first-child {
      font-weight: bold;
    }

    td {
      border-bottom: $style-border;
      border-right: $style-border;
      padding: 10px;
    }
  }
}

h1 {
  font-size: 25px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;

  > li {
    &:not(:first-child) {
      margin-top: 5px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

}
