$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$navbar-border-radius: 0;

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.headeraffix {
  margin: 0 auto;
  max-width: 1440px;
}

.nav {
  &:not(.affix) {
    margin: 0 auto;
    max-width: 1440px;
  }

  &.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .navbar {
    margin-bottom: 0;
  }
}

.headerimg {
  background-image: url('../imgs/headerimg.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  color: transparent;
  display: inline-block;
  font: 0/0 serif;
  text-shadow: none;
  vertical-align: middle;
  width: 100%;

  > span {
    display: block;
    height: 0;
    padding-top: 32.6%; // height/width of image
  }
}

.content {
  h2 {
    margin-top: -45px;
    padding-top: 80px;
  }
}

// no highlighted navbar element on hover on touch
.touch .navbar-nav > li:not(.active) > a:hover {
  background-color: $navbar-inverse-bg;
  color: $navbar-inverse-color;
}

.affix + .content {
  padding-top: 53px;
}
