$color-olive: #7bb064;
$color-white: #fff;
$color-black: #000;
$color-background: #eee;
$color-background-widget: #fff;
$color-border: #c1c1c1;
$color-border-hover: #b0b0b0;
$color-button: #c0c0c0;
$color-button-hover: #d0d0d0;

$time-hover: .2s;

$margin-widgets: 20px;
$width-max-modal: 1000px;

$tablet-width: 768px;
$desktop-width: 1024px;

$style-border: $color-border solid 1px;
