$color-green: #393f37;
$color-green-logo: #7bb064;
$color-red: #aa4465;
$color-blue: #658e9c;
$color-white: #fff;
$color-black: #000;
$color-background: #e3e8e5;
$color-background-widget: #fff;
$color-border: #c1c1c1;
$color-border-hover: #b0b0b0;
$color-button: $color-green-logo;
$color-button-hover: lighten($color-green-logo, 20%);
$color-button-gallery: $color-border;
$color-background-button-gallery-hover: #333;
$color-grey-logo: #6f6f6f;

$time-hover: .2s;

$margin-widgets: 20px;
$width-max-modal: 1000px;

$tablet-width: 768px;
$desktop-width: 1024px;

$style-border: $color-border solid 1px;
