.board {
  overflow: hidden;

  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: $margin-widgets (-$margin-widgets);
  }
}

.widget {
  border: $color-border solid 1px;
  border-radius: 50%;
  height: 200px;
  margin: $margin-widgets;
  overflow: hidden;
  width: 200px;

  &:hover {
    box-shadow: 0 0 5px 1px $color-border;
    cursor: pointer;
    text-decoration: underline;
  }

  &__img {
    height: 65%;
    overflow: hidden;
    width: 100%;

    > img {
      width: 100%;
    }
  }

  &__text {
    margin-top: 10px;
    padding: 0 20px;
    text-align: center;
  }
}
